<!--begin footer--> 
<div class="EXLFooterLinksContainer"> 
	<ul class="EXLFooterLinksList2">
		<li class="EXLFooterFirstLink"><a href="#">Powered by ExLibris Primo</a></li> 
		<li><a href="#">Copyright &copy; 2009 </a></li> 
		<li class="EXLFooterLastLink"><a href="#">Accessibility Statement &amp; Disclaimer</a></li> 
	</ul> 
</div>


 
<!--end footer-->

<script src="https://library.lclark.edu/javascript/primo.js" />


<script type="text/javascript">

// CUSTOMIZATION: Changes the value of the TITLE tag to better identify the pages for Google Analytics statistics
var url = window.location.href;
if ( (url.indexOf("search.do") > -1) && (url.indexOf("dscnt=") == -1) ) 
    { document.title = 'LC Primo - Homepage'; }
if (url.indexOf("mode=Basic") > -1) 
{ document.title = 'LC Primo - Simple Search'; }
if (url.indexOf("mode=Advanced") > -1) 
{ document.title = 'LC Primo - Advanced Search'; }
//if (url.indexOf("&pagina=azlist") > -1)
//{ document.title = 'LC Primo - Revistas Eletronicas (A-Z)'; }
//if (url.indexOf("&pagina=azbooks") > -1)
//{ document.title = 'LC Primo - Livros Eletronicos (e-books)'; }
if (url.indexOf("login.do") > -1)
{ document.title = 'LC Primo - Login'; }
if (url.indexOf("myAccountMenu.do") > -1)
{ document.title = 'LC Primo - My Account'; }
if (url.indexOf("personalSettings.do") > -1)
{ document.title = 'LC Primo - My Account - Edit Details'; }
if (url.indexOf("basket.do") > -1)
{ document.title = 'LC Primo - E-Shelf'; }
if (url.indexOf("sessionQuery.do") > -1)
{ document.title = 'LC Primo - E-Shelf - This Session's Queries'; }
//if (url.indexOf("tagsAction.do") > -1)
//{ document.title = 'LC Primo - Tags'; }
if (url.indexOf("&pcAvailabiltyMode=true") > -1)
{ document.title = 'LC Primo - Available in the Library'; }
//if (url.indexOf("&pagina=recursos") > -1)
//{ document.title = 'LC Primo - Recursos de Pesquisa - Inicial'; }
//if (url.indexOf("&pagina=bases") > -1)
//{ document.title = 'LC Primo - Recursos de Pesquisa - Pesquisa por tipo'; }


// THIS CODE MUST BE THE LAST IN THE footer.html PAGE!
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-51195506-1']); // <== PUT YOUR OWN CODE HERE
    _gaq.push(['_trackPageview']);
     _gaq.push(['_setDomainName', 'none']);
     _gaq.push(['_setAllowLinker', true]);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
    })();
</script>