<!--NB: When translating a static html page that includes images, the link of the image must be replaced as follows: The existing link: "../images/imageName.gif" must be changed into: "../locale/specifcLocaleCode/images/imageName.gif" where "specifcLocaleCode" represents the relevant locale of the language (e.g en_US for English USA, zh_CH for Chinese). -->

<div id="headerBanner"></div>

 <a href="http://alliance-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/search.do?mode=Advanced&ct=AdvancedSearch&vid=LCC" title="L&C Primo Search"><img src="../uploaded_files/LCC/lcprimosearch.png" alt="L&C Primo Search" onMouseOver="this.src='../uploaded_files/LCC/lcprimosearch_orange.png'"
                            onmouseout="this.src='../uploaded_files/LCC/lcprimosearch.png'"/></a>

 <div id="libraryNames">
        <a href="http://library.lclark.edu/" title="Aubrey R. Watzek Library">Aubrey R. Watzek Library</a>
        <span >&#8226;</span>
        <a href="https://law.lclark.edu/library/" title="Paul L. Boley Library">Paul L. Boley Library</a>
 </div>