
body {
  min-width: 960px;
  font-size: 12px;
  font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: #883300;
  font-weight: bold;
}

h3 {
  font-size: 1.1em;
}

a, a:link, a:visited {
  color: #1c62a8;
}

a:hover{ 
  cursor: pointer; 
  color: #3e98df; 
}

table {
	font-size:100%;
}


/* ------------------------- featured.html styles (home/landing page with explanation of resources) ---------------------- */



#exlidHomeContainer {
	font-size:100%;
	margin-top:25px;
	width:90%;
}

#exlidHomeContainer h1, #exlidHomeContainer h2 {
	color: #883300;
}


/* Expand width of Block container 1: Block 1 */
#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 {
	width:100%;
}

/* Add space below divs in Block container 1: Block 1 */
#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 div {
	margin-bottom:30px;
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 h1 {
	font-size: 200%;
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 h2 {
	font-size: 130%;
        margin-top:20px;
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 h3 {
	margin-top:20px;
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 p {
	margin-top:10px;
        margin-bottom:10px;
		line-height:1.6em;
}

#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 p a {
	display:inline;
}


/* --------------------------- header ---------------------------------- */

#exlidHeaderContainer {
	width:100%;
}

/* contains logo and library names at left */
#exlidHeaderTile { 
	width:50%;
	padding:0;
	height:130px;
        background-image: url("../LCC/headerleft.jpg");
  	background-repeat: no-repeat;
	background-position:right;
}

/* transparent bar across top */
#headerBanner {
	height:0px;
	background-color:#ffffff;
	opacity:.1;
	width:100%;
	position:absolute;
}

/* logo image */
#exlidHeaderTile img {
	position:absolute;
	margin-top:20px;
	left:5%;
}

/* library names under logo image */
#exlidHeaderTile #libraryNames{
	position:absolute;
	margin-top:60px;
	margin-right:10px;
	left:5%;
	color:#ffffff;
	font-size:12px;
}

/* | between library names under logo image */
#exlidHeaderTile #libraryNames span{
	color:#ffffff;
	font-size:12px;
	margin-right:10px;
	margin-left:10px;
}

/* user menu at top right */
#exlidUserAreaTile {
	width:50%;
	height:65px;
	margin-top:0;
        background-image: url("../LCC/headertopright.jpg");
  	background-repeat: no-repeat;
	background-position:left bottom;
}

#exlidUserAreaRibbon {
	right:5%;
	height:auto;
	border-bottom:none;
        position:absolute;
	margin-top:30px;
}


#exlidUserAreaRibbon li {
	font-size:1.2em;
	background:transparent;
	padding-left:1.2em;
	padding-right:0;
}

#exlidUserAreaRibbon li a {
	color:#dd7722;
}

#exlidUserAreaRibbon li#exlidUserName, #exlidUserAreaRibbon li#exlidMyShelf, #exlidUserAreaRibbon li#exlidMyAccount {
	margin-top:12px;
}

#exlidUserAreaRibbon li.EXLUserName {
	color:#dd7722;
}


#exlidUserAreaRibbon li span.EXLUserAreaStart {
	display:none;
}

/* replaced default e-shelf star with this one because it displays better on a dark background */
#exlidUserAreaRibbon li span.EXLMyShelfStarSelected
{
  background-image: url("../LCC/icon_star_on.png");
  background-repeat: no-repeat;
  height: 11px;
  width: 11px;
  float: left;
  margin-left: 0.3em;
  margin-top: 0.2em;
}

/* sign in button */
#exlidSignIn a, #exlidSignOut a {
	background-color:#f5f5f5;
	padding:12px;
	-webkit-border-radius:25px;
	-moz-border-radius: 25px;
	border-radius:25px;
}



/* navigation menu at right */
#exlidMainMenuTile{
	width:50%;
        height:65px;
	margin-top:0;
        background-image: url("../LCC/headerbottomright.jpg");
  	background-repeat: no-repeat;
	background-position:left top;
}


#exlidMainMenuTile div.EXLMainMenuContainer {
	left:0;
        top:100px;
        height:30px;
	position:absolute;
        width:100%;
        background-color:rgba(255, 255, 255, 0.1);
	float: right
}

#exlidMainMenuRibbon {
	margin-top:3px;
	margin-right:5%;	
}

#exlidMainMenuRibbon li a, #libraryNames > a{
	color:#ffffff;
}

#exlidMainMenuRibbon li{
	font-size:1em;	
}

#exlidMainMenuRibbon li span {
	border-right:none;
}



/* contains header, user, and main menu tiles */
#exlidSearchTileWrapper { 
   	width: 100%;
}

/*this contains logo too*/
#exlidSearchTileWrapper form { 
	width: 100%;
        background: #f5f5f5;
        border-bottom: 1px solid #dcdcdc; 
}

/* ---------------------- simple search ---------------------- */

/* contains entire simple search widget and advanced/browse search links */
#exlidSearchTile {
    padding: 25px 0; 
    border-bottom:none;
    border-top:none;
    font-size:100%;
    width: 90%;
    min-width: 900px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background:transparent;
    height:80px;
}

/* button/image that links to library news */
#exlidSearchBanner a img { 
	display:none;
}


/* contains entire search widget */
#exlidSearchRibbon {
  	width: 100%;
  	padding-left:0;
}


/* tabs input */
#exlidSearchRibbon input#tb {
	width:70%;
}

/* simple & advanced search tabs AND my account tabs */
#exlidSearchTabs {
	height:30px;
}

/* search widget tabs AND my account tabs */
#exlidSearchTabs li, .EXLMyAccountTabsRibbon div li.EXLMyAccountTab {
	height:23px;
    	padding-top:7px;
    	background: #eee; 
  	background: -webkit-linear-gradient(#f7f7f7, #e1e1e1); 
  	background: -moz-linear-gradient(#f7f7f7, #e1e1e1); 
  	background: linear-gradient(#f7f7f7, #e1e1e1);
	border:none;
}

/* search widget tabs AND my account tabs */
#exlidSearchTabs li a, .EXLMyAccountTabsRibbon div li.EXLMyAccountTab a {
	color:#555;
}

/* search widget tabs AND my account tabs */
#exlidSearchTabs li a:hover, .EXLMyAccountTabsRibbon div li.EXLMyAccountTab a:hover {
	text-decoration:none;
}

/* search widget tabs AND my account tabs */
#exlidSearchTabs li:hover, .EXLMyAccountTabsRibbon div li.EXLMyAccountTab:hover {
	background: #ddd; 
	background: -webkit-linear-gradient(#e5e5e5, #d3d3d3); 
	background: -moz-linear-gradient(#e5e5e5, #d3d3d3); 
	background: linear-gradient(#e5e5e5, #d3d3d3);
}

/* search widget tabs AND my account tabs */
#exlidSearchTabs li.EXLSearchTabSelected, .EXLMyAccountTabsRibbon div li.EXLMyAccountSelectedTab {
	background: #eee; 
  	background: -webkit-linear-gradient(#f7f7f7, #e1e1e1); 
  	background: -moz-linear-gradient(#f7f7f7, #e1e1e1); 
  	background: linear-gradient(#f7f7f7, #e1e1e1);
	border-top: solid 1px #bbb;
	border-right: solid 1px #bbb;
	border-left: solid 1px #bbb;
	border-radius: 2px 2px 0 0 ; 
        height:22px;
}


/* contains search input and tabs */
#exlidSearchRibbon fieldset {
	width: 70%;
        height:36px;   
        margin:0;
        padding:0;    
}

/* contains search input and drop down menu, if using */
#exlidSearchRibbon div.EXLSearchFieldRibbon {
 	font-size: 1em; 
        background:#ffffff;
        border-radius: 3px; 
        box-shadow: 0 0 3px #ccc;  
        height:35px;
        border: #b7b7b7 solid 1px; 
}

/* search text input */
.EXLSearchFieldRibbonFormSearchFor {
	width:58%;       
}

/* clear search "x" */
.EXLClearSimpleSearchBoxButtonClose {
	height:34px;
        float:right;  
}

/* white user input */
#exlidSearchRibbon input#search_field {
	padding:7px 9px;
	font-weight:bold;
	font-size:14px;
	border-radius: 0 0 0 2px; 
        border: #b7b7b7 solid 0px; 
        width:100%;
        background-color:white;  
}

#scopesList {
	margin:0;
        padding:0;
}

/* scopes drop-down menu */
.EXLSearchFieldRibbonFormSelectedCollection {
	background: #eee; 
  	background: -webkit-linear-gradient(#f7f7f7, #e1e1e1); 
  	background: -moz-linear-gradient(#f7f7f7, #e1e1e1); 
  	background: linear-gradient(#f7f7f7, #e1e1e1); 
  	padding:4px 10px 0 10px;
	margin:0;
	height:31px;
	border-left: #b7b7b7 solid 1px; 
        border-right: #b7b7b7 solid 1px; 
        border-top:none;
        border-bottom:none;
        width:34%;
	float:right;   
}

.EXLSearchFieldRibbonFormSelectedCollection:hover { 
	background: #ddd; 
	background: -webkit-linear-gradient(#e5e5e5, #d3d3d3); 
	background: -moz-linear-gradient(#e5e5e5, #d3d3d3); 
	background: linear-gradient(#e5e5e5, #d3d3d3); 
	cursor: pointer;
	border-left-color: #ccc;
}

.EXLSearchFieldRibbonFormSelectedCollectionLabel{  
	color: #555;    
}

.EXLSearchFieldRibbonFormSelectedCollectionLabel a {
	color: #555; 
      	font-weight: bold;
}

/* scopes drop-down options */
.EXLSearchFieldRibbonFormCollectionsList {
        left:64%;
	top: 105%;  
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
	border: 1px solid #ccc; 
	border-radius: 3px; 
	padding: 7px 0;
	width: 36%;
}

.EXLDynamicSelectBodyRadio div {
	line-height: 1.2em;
        padding:5px 0;
}

.EXLDynamicSelectBodyRadio a {
        padding:0 10px;
}

.EXLSearchFieldRibbonFormCollectionsList label {
	color: #1c62a8;
	font-weight:bold;
}

/* blue box containing search submit icon */
.EXLSearchFieldRibbonFormSubmitSearch {
	width:9%;
        height:36px;
        background: #4072b2; 
	background: -webkit-linear-gradient(#5689cc, #3465a4); 
	background: -moz-linear-gradient(#5689cc, #3465a4); 
	background: linear-gradient(#5689cc, #3465a4);
}

/* search submit magnifying glass icon */
#exlidSearchRibbon input.submit{ 
	border:none;
        height:22px;
	background: url("../LCC/search-icon.png") no-repeat center center; 
        margin-top: 6%;
        color: rgba(255, 255, 255, 0); 
}

/* worldcat search button */
a.navbar-link { 
	margin-top:30px;       
	height:30px;
	 border-radius: 3px; 
        vertical-align:middle;
	padding:7px 15px 0px 15px;
	margin-left:15px;
        margin-right:15px;
        background: #4072b2; 
	background: -webkit-linear-gradient(#5689cc, #3465a4); 
	background: -moz-linear-gradient(#5689cc, #3465a4); 
	background: linear-gradient(#5689cc, #3465a4);
	display:block; 
	width:auto;
	float:left;
}

a.navbar-link, a.navbar-link:link, a.navbar-link:visited  {
        color:#ffffff;
}

a.navbar-link img {
	vertical-align:middle;
}

.EXLSearchFieldRibbonAdvancedSearchLink {
	margin-top:7px;
}

.EXLSearchFieldRibbonAdvancedSearchLink, .EXLSearchFieldRibbonBrowseSearchLink {
	float:none;
	width:auto;
	margin-left:71%
}



.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks, .EXLSearchFieldRibbonBrowseSearchLink a {
	font-size:100%;
        line-height:1.5em;
        margin-left:.5em;
}


#exlidHeaderSystemFeedback {
	border-bottom:none;
        border-top:none;
}

#exlidHeaderSearchLimits {
	padding-bottom:25px;
	background: #f5f5f5;
}

#exlidHeaderSearchLimits fieldset {
	width: 90%;
	min-width: 900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-25px;
	padding-left:0;
}

#exlidHeaderSearchLimits select {
	height:2em;
}


/* ------------------------------ advanced search --------------------------------- */

/* contains entire advanced search box */
#exlidAdvancedSearchTile {
	padding: 25px 0; 
    border-bottom:none;
    border-top:none;
    font-size:100%;
    width: 90%;
    min-width: 960px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background:transparent;
}

#exlidAdvancedSearchRibbon {
	margin-left:0;
	padding-left:0;
	width:100%;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbon {
	background:transparent;
	border-top: solid 1px #bbb;
	border-right:none;
	border-left:none;
	border-bottom:solid 1px #bbb;
	padding-bottom:0;
}

/* left advanced search inputs */
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup1 {
	padding-left:0;
	width: 60%;
	
	
}

#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow {
	padding-bottom:15px;
	
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 {
	border-left:none;
	width: 40%;
	margin-top:1em;
}

#exlidAdvancedSearchRibbon fieldset {
	
}

/* individual advanced search inputs */
#exlidAdvancedSearchRibbon input {
	height:24px;
	border-color:#b7b7b7;
	border-radius:2px;
	width:20em;
}

/* individual advanced search indexes and (contains, begins with, etc.) */
#exlidAdvancedSearchRibbon select {
	height:24px;
	border-color:#b7b7b7;
	border-radius:2px;	
}

[id^="exlidInput_scope"] {
	min-width:30%;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 div.EXLAdvancedSearchFormRow {

}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 select {
	height:24px;
	width:auto;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 label {
	color: #883300;
	font-weight:bold;
	width:10em;
	line-height:1.6em;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch {
	border:none;
	margin-right:5px;
	margin-top:5px;
}

#exlidAdvancedSearchRibbon input.submit {
	border:none;
	background: -webkit-linear-gradient(#5689cc, #3465a4); 
	background: -moz-linear-gradient(#5689cc, #3465a4); 
	background: linear-gradient(#5689cc, #3465a4);
	height:36px;
}

#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch input {
	border:none;
	height:36px;
	background: #bababa;
}

/* worldcat search button */
.EXLSearchFieldRibbonFormLinks a.navbar-link {
	margin-top:5px;
	margin-left:0px;
	margin-right:5px;
	text-indent:0;
	height:31px;
	padding-top:5px;
}




/* ------------------------------------- browse search --------------------------------------- */

#exlidAdvancedSearchRibbon div.EXLBrowseFieldRibbon {
	background:transparent;
	border:none;
	padding-left:0;
}

.EXLSearchFieldRibbonFormSelectedBrowse {
	background: #eee; 
  	background: -webkit-linear-gradient(#f7f7f7, #e1e1e1); 
  	background: -moz-linear-gradient(#f7f7f7, #e1e1e1); 
  	background: linear-gradient(#f7f7f7, #e1e1e1); 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
  	padding:4px 10px 0 10px;
	height:30px;
	border: #b7b7b7 solid 1px; 
        width:34%;
}

.EXLSearchFieldRibbonFormBrowseList {
	width:34%;
	top:0;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
	border: 1px solid #ccc; 
	border-radius: 3px; 
	padding: 7px 0;
}

.EXLAdvancedBrowseRibbon div.EXLDynamicSelectBodyRadio div {
  line-height: 1.2em;
}

#exlidAdvancedSearchRibbon div.EXLDynamicSelectBodyRadio a label {
	color: #1c62a8;
	font-weight:bold;
}

.EXLSearchFieldRibbonFormBrowseSearchFor {
	background:#ffffff;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
	border: 1px solid #ccc; 
	border-radius: 3px;
	width:60%;
}

div#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon > fieldset > div.EXLSearchFieldRibbonFormSubmitSearch, div#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon > fieldset > div.EXLSearchFieldRibbonFormSubmitSearch input {
	width:5em;
}

#exlidAdvancedSearchRibbon.EXLAdvancedBrowseRibbon input#search_field {
	height:30px;
	vertical-align:middle;
    margin:top:2px;
}

.EXLBrowseList .EXLResultsHeader div.EXLResultsNavigation {
	font-size:100%;
}

.EXLResultsListBrowseLine th {
	color: #883300;
}

#exlidBrowseResultsEnteries {
	font-size:100%;
}

/* ---------------------------- system feedback / sign-in prompt ---------------------- */

#exlidHeaderSystemFeedback {
	background-color:transparent;
	/*text-align:left;*/
}

#exlidHeaderSystemFeedbackContent {
	padding-top:5px;
	padding-bottom:5px;
	background-color:#dd7722;
	text-align:center;
}

#exlidHeaderSystemFeedbackContent strong {
	color:#ffffff;
	background:transparent;
	padding: 0.5em 0.5em 0.5em 1.5em;
	display:block;
	font-size:15px;
}

#exlidHeaderSystemFeedbackContent strong a {
	color:#ffffff;
}



/* ------------------------------ my accounts ------------------------------------ */



.EXLMyAccountTabsRibbon {
	height:36px;
	width:90%;
	min-width:960px;
	margin:auto;
	border-bottom:none;
}

.EXLMyAccountTabsRibbon div {
	width:100%;
}

.EXLMyAccountTabsRibbon div ul {
	margin-left:0;
        border-bottom:1px solid #bbb;
	height:34px;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountTab {
	height:27px;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountSelectedTab {
	height:27px;
	background: #ffffff;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountSelectedTab a {
	color:#555;
}

.EXLMyAccountContainer {
	width:90%;
	min-width:960px;
	margin:auto;
	background-color:#ffffff;
	
}

.EXLMyAccountContainer > table {
	border-bottom:1px solid #bbb;
}

.EXLMyAccountMainMenuTile, .EXLMyAccountContainer .EXLMyAccountMainMenuTileMyQueries, .folders_new {
	width:25%;
	margin-bottom:50px;

}

.EXLMyAccountMainMenuContainer ol, .folders_new {
	background-color: #f5f5f5;
	border:none;
	padding:1em;
}



.foldersOverflow {
	padding-left:0;
}

.guestNote {
	margin-top:1em;
}

.EXLMyAccountMainMenuContainer ol li, .EXLMyAccountMainMenuContainer ol li a, .EXLMyAccountMainMenuContainer ol li a:visited, .folders_new li a.selectedFolder {
	color:#1c62a8;
	font-weight:bold;
}	

.EXLMyAccountMainContainer, .EXLMyAccountContainer .EXLMyAccountQueriesMainContainer{
	width:72%;
	margin-left:0;
	float:right;
	border:none;
	font-size:100%;
}

.EXLEShelfFolderContents {
	margin-left:3%;
	float:right;
	border:none;
	font-size:100%;
}

.folder_details TABLE.folderName, .folder_details .tableBorder, .folder_details table.auto, .folder_details .selectWidth, .itemsListTH, .EXLMyAccountMainContainer div.EXLMyAccountMainHeader {
	background:transparent;
	font-size:100%;
}

.folder_details .tableBorder, .folder_details TABLE.folderName, .EXLMyAccountMainHeaderTitle div.EXLMyAccountMainHeaderContent span.EXLMyAccountMainHeaderContentSelected{
	border:none;
}

.buttonGo {
	border:none;
	vertical-align:middle;
}

.folder_details TABLE.folderName {
	border-bottom: 1px solid #d7dde3;
	padding-bottom:1em;
}


.EXLMyAccountMainContainer div.EXLMyAccountMainHeader div.EXLMyAccountMainHeaderTitle h1, .folder_details h5, .EXLMyAccountMainHeaderTitle div.EXLMyAccountMainHeaderContent span.EXLMyAccountMainHeaderContentSelected{
	font-size:1.2em;
	color:#888888;
}

.folder_details ul {
	font-size:1.2em;
	font-weight:bold;
}

.folder_details select {
	font-weight:bold;
}


.EXLMyAccountMainContainer table th, .folder_details .itemsListTH th {
	color:#883300;
	padding-top:1em;
	padding-bottom:1em;
}

.folder_details .itemsListTable td {
	padding-top:1em;
	padding-bottom:1em;
}

.EXLMyAccountMainContainer table td {
	padding:1em 1em 1em 0;
}

.EXLMyAccountMainContainer table a {
	font-weight:bold;
}

.EXLMyAccountMainContainer div.EXLMyAccountEditLink {
	font-size:100%;
	padding-top:0px;
}

.EXLMyAccountMainContainer div.EXLMyAccountTips {
	border:none;
	background:#efefef;
	padding:1em;
}

.EXLMyAccountMainContainer div.EXLMyAccountTips form legend {
	font-size:100%;
	color:#883300;
	margin-bottom:1em;
}

.EXLMyAccountMainContainer form span.submit {
	border:none;
}

.EXLMyAccountMainContainer form input.submit, .buttonGo a {
	background: #4072b2; 
	background: -webkit-linear-gradient(#5689cc, #3465a4); 
	background: -moz-linear-gradient(#5689cc, #3465a4); 
	background: linear-gradient(#5689cc, #3465a4);
	color:#ffffff;
	padding:.3em;
}

.iframex {
	margin-top:100px;
}



/* ------------------------------- brief results ---------------------------------- */

/* contains facets box and list of brief results */
.EXLResultsContainer {
  width: 90%;
  min-width:960px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  position: relative;
  clear: both;
  padding: 30px 0 100px 0;
}

.EXLResultsContainer div.EXLResultsTile
{
  width: 72%;
  margin-left: 5%;
  border-left: none;
  padding-left: 0;
}


/* contains number of results, scope, and pagination above and below the results list */
.EXLBriefDisplay .EXLResultsHeader {
	padding-top:15px;
	border-bottom: 1px solid #dcdcdc;
	height:30px;
}

#resultsNumbersTileBottom.EXLResultsHeader div.EXLResultsNumbers {
	width:100%;
	margin-bottom:12px;
	margin-top:15px;
}


.EXLResultsHeader h1 {
	font-size:1em;
	padding-left:0;
	padding-bottom:20px;
	width:100%;
	color:#999999;  	
}

.EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy {
	float:left;
	color:#999999;
	padding-top:10px;
	font-size:.9em;
	
}

.EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy ul {
	background-color:#ffffff;
	padding-left:0px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
	border: 1px solid #ccc; 
	border-radius: 3px;
	width: 8em;
}

.EXLResultsHeader div.EXLResultsNumbers li.EXLSortByLink {
	background-color: #ffffff;
	padding:3px 0 3px 6px;
}

.EXLResultsHeader div.EXLResultsNumbers li a {
	color: #1c62a8;
}

.EXLResultsHeader div.EXLResultsNumbers li:hover, .EXLResultsHeader div.EXLResultsNumbers li:hover a, .EXLResultsHeader div.EXLResultsNumbers li.EXLSortByLinkSelected:hover {
	color: #1c62a8;
	background-color:#f1f1f1;
}

.EXLResultsHeader div.EXLResultsNumbers li.EXLSortByLinkSelected {
	color: #1c62a8;
}

/* pagination */
.EXLBriefDisplay .EXLResultsHeader div.EXLResultsNavigation {
	position:relative;
	font-size:100%;
	top:0px;
	left:0;
}

.EXLBriefDisplay .EXLResultsHeader div.EXLResultsNavigation a {
	padding:5px;
	border-radius:5px;
	background-color:#f5f5f5;
	border:1px solid #ddd;
}


/* refinements above list of brief results */
.EXLRefinementRibbonWithExclude {
	background: #f5f5f5;
	font-size:110%;
	font-weight:bold; 
	border-top:none;
	padding-top:10px;
	padding-bottom:10px;
}

/* refinements above list of brief results: "Refined by" */
.EXLRefinementRibbonWithExclude span.EXLRefinementsListTitle {
	line-height:1.5em;
	color: #bbb; 
}

/* each refinement (white boxes) above list of brief results */
.EXLRefinementRibbonWithExclude span.EXLRemoveRefinement {
	-moz-border-radius: .3rem; 
	border-radius: .3rem;
	color: #883300;
	font-size:80%;
	padding:5px;
	padding-left:10px;
}

/* each refinement above list of brief results (ebooks, available in the library, etc.) */
.EXLRefinementRibbonWithExclude div a {
	color: #1c62a8;
}

.EXLRefinementRibbonWithExclude div a:hover {
	color: #000000;
}

#exlidTopLevelFacetsTile {
	display:none;
}



/* --------------------------------- brief results: the results list ------------------------------------ */



.EXLResultsList {
	font-size:100%;
 	border-top:none;
}

.EXLResultsList table tbody, .EXLResultsList table tbody tr {
	width:100%;
}

.EXLResultsList td.EXLThumbnail {
	padding: 24px 12px 16px 12px;
}

.EXLResultsList td.EXLThumbnail span.EXLThumbnailCaption {
	color: #888888;
	font-size:.8em;
}

/* contains title, author, availability, get it, view it tabs */
.EXLResultsList td.EXLSummary {
	width:88%;
	padding-bottom:25px;
}

/* contains item metadata (title, author, etc) and availability */
.EXLResultsList div.EXLSummaryContainer {
	width:100%;
}

/* contains result metadata (title, author, publisher, etc.) */
.EXLBriefDisplay .EXLResultsList div.EXLSummaryContainer div.EXLSummaryFields {
  	width: 60%;
	color:#888888;
	padding: 16px 20px 16px 12px;
}

/* title */
.EXLResultsList h2 {
	font-size:1.2em;
	line-height:1.2em;
	color: #1c62a8;
	margin-bottom:4px;	
}

/* author */
.EXLResultsList h3.EXLResultAuthor {
	color: #345678;
        margin-top: 4px;
	margin-bottom:4px;
	font-weight: bold;
  	font-size: 0.9em;
  	line-height: 1.25em;	
}

/* publisher */
.EXLResultsList span.EXLResultDetails {
  	font-size: 1em;
  	color: #888888;
  	line-height: 1.25em;
}

.EXLResultsList p.EXLResultSnippet {
	 font-size: 1em;
  	color: #888888;
  	line-height: 1.25em;
	margin-bottom:4px;
}

.EXLResultsList h3.EXLResultFourthLine {
  	font-size: 0.9em;
  	color: #888888;
  	line-height: 1.25em;
}

/* move availability info (online access, available at, etc.) to the right, for brief display only */
.EXLBriefDisplay .EXLResultAvailability {
	float:right;
	width:30%;
}	

/* default color of availability info is grey */
.EXLResultAvailability {
	margin-top:30px;
        padding-left: 10px;
	border-left: 5px solid #888888;
	line-height:1.6em;
	color: #888888;
}

.EXLResultsList .EXLResultAvailability em {
	background:none;
	padding-left:0;
	color: #888888;
}

/* add line break before library name in availability info */
.EXLResultsList span.EXLAvailabilityLibraryName {
	display:block;
	font-weight:bold;
}

/* add line break before physical location in availability info */
.EXLResultsList span.EXLAvailabilityCollectionName {
	display:block;
        font-weight:bold;
        font-size:1.4em;
        margin-top:-5px;
}

/* available resources default color is grey */
.EXLAvailabilityRTAupdating, .EXLResultsList em.EXLResultStatusNotAvailable span.EXLAvailabilityLibraryName, .EXLResultsList em.EXLResultStatusNotAvailable span.EXLAvailabilityCollectionName, .EXLResultsList em.EXLResultStatusNotAvailable span.EXLAvailabilityCallNumber {
	color: #888888;
}

/* available resources are green ("avialable at", "full text available"...) */
.EXLAvailabilityRTAupdating, .EXLResultsList em.EXLResultStatusAvailable span.EXLAvailabilityLibraryName, .EXLResultsList em.EXLResultStatusAvailable span.EXLAvailabilityCollectionName, .EXLResultsList em.EXLResultStatusAvailable span.EXLAvailabilityCallNumber {
	color: #19A72A;
}

/* maybe available resources are orange ("click find and request for availability") */
.EXLResultsList .EXLResultStatusMaybeAvailable span.EXLAvailabilityLibraryName, .EXLResultsList .EXLResultStatusMaybeAvailable span.EXLAvailabilityCollectionName, .EXLResultsList .EXLResultStatusMaybeAvailable span.EXLAvailabilityCallNumber {
	color: #dd7722;
}


.EXLResultsList span.EXLAvailabilityCallNumber {
	display:block;
	font-weight:bold;
	font-size:1.4em;
        margin-top:-15px;
}

.EXLBriefDisplay .EXLTabsRibbon div {
	width:100%;
        padding-left: 10px;

}


/* Locations tab must be disabled for Primo-Alma integrations */
.EXLTabsRibbon div li.EXLLocationsTab {
    display: none
}

/* Removing Reviews and Tags */
.EXLTabsRibbon div li.EXLReviewsTab {
    display: none
}

/* tabs for each result: find & request, details, etc., applies to both brief and full record display */
.EXLTabsRibbon div li.EXLResultTab {
        padding-left:4px;
	padding-right:4px;
	font-size:.8em;
}

/* tabs for each result: find & request, details, etc., applies to brief display */
.EXLBriefDisplay .EXLTabsRibbon div li.EXLResultTab {
	padding-bottom:.8rem;
}


/* tabs for each result: find & request, details, etc., applies to both brief and full record display */
.EXLTabsRibbon div li.EXLResultTab a {
	color: #1c62a8;
	font-weight:bold; 
	padding: .4rem .6rem; 
	-moz-border-radius: .3rem; 
	border-radius: .3rem;
	line-height: 1.3em;
	background: #f5f5f5; 
	border: solid 1px #ddd; 
}

/* hover effect for find & request tab, details tab, etc., applies to both brief and full record display */
.EXLTabsRibbon div li.EXLResultTab a:hover {
	background: #000; 
	color:#ffffff;
	text-decoration:none;
}

/* the active/selected/open tab, applies to both brief and full record display */
 .EXLTabsRibbon div li.EXLResultSelectedTab {
	background:none;
	border:none;
	margin-left:0;
}

/* the active/selected/open tab, applies to both brief and full record display */
.EXLTabsRibbon div li.EXLResultSelectedTab a {
	background: #fff; 
        height:22px;
	border-radius: .3rem .3rem 0 0; 
	border:solid 1px #ddd;
	border-bottom: solid 1px #fff;
}

/* the active/selected/open tab, applies to both brief display and full record displays */
.EXLTabsRibbon div li.EXLResultSelectedTab a {
	padding-bottom:1.05rem;
}


.EXLResultsList td.EXLMyShelfStar {
	padding-top:24px;
	width:3%;
}

/* add border and box shadow to find & request, view online, details, etc. tabs, both brief and full record displays */
.EXLResultTabContainer {
	border:1px solid #ddd;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
         -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
         box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
}

/* code from Nathan Mealey to fix scrollability on iOS devices */
.EXLTabContent { 
-webkit-overflow-scrolling: touch; 
}

.EXLTabContent, .EXLTabBrowseContent {
	border:none;
}

/* contains "open source in a new window", actions menu, etc. both brief and full record displays */
.EXLResultTabContainer div.EXLTabHeader {
    	clear:left;
        width:100%;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f5f5f5));
	background: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	background: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	border:none;
	padding-top:10px;
	padding-bottom:10px;
}



/*contains "open source in a new window", institution name, summit libraries link, sign in link */
.EXLTabHeader div.EXLTabHeaderContent{
	padding-left:0;
}

/* institution name, summit libraries link, sign in link */
.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLine {
	font-weight:bold;
	float:left;
}

/* Institution name in the find & request tab */
.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLineInstName {
	color: #888888;
	padding-left:1em;
}

/* Sign in link in the find & request tab */
.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLineSignIn {
	display:block;
	width:133.5%;
	margin-top:18px;
	text-align:center;
	background-color:#dd7722;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:0;

}

/* Sign in link in the find & request tab, makes it a button */
.EXLTabHeader div.EXLTabHeaderContent em.EXLTabHeaderContentAdditionalDataLineSignIn a {
	color:#ffffff;

}

/* View online tab, tab header: "open source in new window" */
.EXLContainer-viewOnlineTab .EXLTabHeader .EXLTabHeaderContent a {
	padding-left:1em;
	padding-right:1em;
}

/* link to open actions menu */
.EXLBriefDisplay .EXLTabHeader div.EXLTabHeaderButtons {
	padding:0.5em 0.5em 0.3em 0.3em;
}

.EXLBriefDisplay .EXLTabHeader div.EXLTabHeaderButtons ul {
	margin-bottom:0px;
}

.EXLTabHeader div.EXLTabHeaderButtons li {
	background:none;
	border:none;
}

.EXLTabHeader div.EXLTabHeaderButtons li span {
	background:none;
}

.EXLBriefDisplay .EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList {
	background:#ffffff;
	padding:5px;
	border:1px solid #ccc;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	-webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
}

.EXLDetailsTabContent div.EXLDetailsContent, .EXLTabBrowseContent {
	width:94%;
	padding:3%;
	margin:0;
}

.EXLBriefDisplay .EXLDetailsContent li[id^="Author"], .EXLBriefDisplay .EXLDetailsContent li[id^="Subjects"] {
	color:#ffffff;
}

.EXLBriefDisplay .EXLDetailsContent li[id^="Author"] strong, .EXLBriefDisplay .EXLDetailsContent li[id^="Subjects"] strong {
	color:#345678;
}

.EXLBriefDisplay .EXLDetailsContent li a {
	display:inline-block;
	margin-bottom: 5px; 
	margin-right:5px;
	background: #eee; 
	padding: 5px; 
	-moz-border-radius: 1em; 
	border-radius: 1em; 
	font-size: .9em; 
	border: solid 1px #ddd; 
	color: #1c62a8;
}

.EXLBriefDisplay .EXLDetailsContent li a:hover {
	background: #444; 
	color: #fff;
	text-decoration:none;
}



/* ------------------------------ facet box ------------------------------------- */

/* grey box containing facets */
.EXLFacetTile {
  width: 20%; 
  padding: 10px; 
  background: #f5f5f5; 
  border-right: none;
  margin-bottom:100px;
}

/* facet headers (show only, refine my results, etc.) */
.EXLFacetContainer h3, .EXLFacetContainer h1 {
  font-size: 1.2em;
  border-bottom: solid 1px #ddd; 
  border-top:none;
  padding-bottom: 3px; 
  padding-left:0px;
  margin-top: 1.5em; 
  color: #888888;
  margin-bottom: .5em;
  background-color:transparent;
}

/* first facet header */
.EXLFacetContainer h3:first-child, .EXLFacetContainer h1:first-child {
  margin-top: 0px;
}

.EXLFacetContainer h1
{
  margin-top: 0px;
}

/* type of refinement (library, author/creator, year, etc.) */
.EXLFacetContainer h4 {
  color: #883300;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 5px;
  padding-left:0px;
}

.EXLFacetContainer ol {
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
	padding-left:0;
}

.EXLFacetContainer ol li{ 
  margin: 0; 
  margin-left: 5px; 
  margin-bottom: 1px; 
  padding-top:3px;
  padding-bottom:3px;
  font-size: 1em; 
  line-height: 1.2em; 
  clear: both; 
}

.EXLFacetContainer ol li.EXLFacetsDisplayMore {
	margin-top:0px;
}

.EXLFacetContainer ol li.EXLFacetsDisplayMore a {
	color: #888888;
}

/* granular facets (boley law library, books, ebooks, etc.) */
.EXLFacetContainer ol li label {
  color: #1c62a8;
}

.EXLFacetContainer ol a {
  padding: 2px 0px 2px 0px; 
  font-weight: normal; 
  line-height: 1.2em; 
}


.EXLFacetContainer ol a:hover {
  color: #000000;
  text-decoration:none;
}

.EXLFacetContainer ol li span {
  color: #888888;
  display: inline;
  font-size: 1em;
  margin-left: 0;
}

.EXLDateRangeText {
	margin-left:5px;
}

.EXLDateRangeLine {
	padding-left:0px;
	padding-bottom:10px;
}

.datebox {
	border: 1px solid #ccc; 
}

.EXLSliderFromText, .EXLSliderToText {
	font-size:1em;
	color: #1c62a8;
}

.EXLSliderRefine a, .EXLSliderRefine a:link {
	padding-bottom:0;
	height:27px;
	color:white;
}

.EXLToolTipEnd {
	padding-top: 3em;
}

.EXLFacetContainer div.EXLFacetActionsV2 {
	font-size: 100%;
	background:transparent;
	border-bottom:none;
}

/* ------------------  facet lightbox container --------------------- */

#exlidFacetsLightboxContainer {
  background-color: #ffffff;
  padding-bottom:10px;
  height:550px;
}

#exlidFacetsLightboxTile {
	border:none;
	font-size:100%;
	height:auto;
}

/* facet lightbox container for all rows and scrollbar */
#exlidFacetsLightboxTile div.EXLFacetsLightboxListContainer {
	height:425px;
}

/* facet lightbox header (refine search) */
.EXLFacetsLightboxHeader h1 {
	font-size: 1.2em;
	font-weight:bold;
	color:#bbb;
	padding-left:0;
}

/* facet lightbox table headers (include, exclude, etc.) */
.EXLFacetsLightboxTabsRibbon span {
	font-size:1em;
	color: #883300;
	font-weight:bold;
}

.EXLFacetsLightboxTabsRibbon {
	border-bottom: solid 1px #ddd; 
	padding-left:0;
}

#exlidFacetsLightboxTile div.EXLFacetsLightboxList div.EXLFacetsLightboxListRow {
	padding-top:5px;
	padding-bottom:5px;
}

/* facet lightbox row text */
#exlidFacetsLightboxTile div.EXLFacetsLightboxListRow span.legend {
	color: #1c62a8;
	font-size:1em;
}


/* facet lightbox exclude checkboxes */
#exlidFacetsLightboxTile div.EXLFacetsLightboxListRow input.EXLChkExclude[type="checkbox"] {
	margin-left:3.5em;
}

#exlidFacetsLightboxContainer div.EXLFacetsLightboxFieldRibbonFormSubmitSelected {
	border:none;
}

/* facet lightbox submit box (continue) */
#exlidFacetsLightboxContainer a.EXLSubmit {
	border:none;
	background: #4072b2; 
	background: -webkit-linear-gradient(#5689cc, #3465a4); 
	background: -moz-linear-gradient(#5689cc, #3465a4); 
	background: linear-gradient(#5689cc, #3465a4);
	height:20px;
	padding-top:.5em;
	border-radius: 3px;
}

#exlidFacetsLightboxContainer div.EXLFacetsLightboxFieldRibbonFormResetSearch {
	border:none;
	height:26px;
}

/* facet lightbox submit box (cancel) */
#exlidFacetsLightboxContainer input.EXLReset {
	border:none;
	height:26px;
	border-radius: 3px;
}



/* ---------------------- summit lightbox ---------------------*/

.EXLLightbox div.EXLLightboxFormContainer {
	font-size:100%;
}

.EXLLightbox div.EXLLightboxFormContainer div.EXLLightboxFormRow {
	padding-top:.5em;
	padding-bottom:.5em;
}


/* --------------------------------------------- no results page ---------------------------------------------- */

.EXLNoResultsSuggestions {
	background-color:#fff;
	border:none;
	padding-left:0;
}


/* ------------------- full record display ----------------------------------------- */

.EXLSummary.EXLResult{
	width:74%;
	float:right;
        margin-right:5%;
	margin-top:30px;
}

.EXLFullView .EXLResultsList div.EXLSummaryContainer cite.EXLResultFRBR {
	margin-top:5em;
}


body.EXLFullView .EXLResultsList div.EXLSummaryContainer div.EXLSummaryFields {
	padding-bottom:30px;
}


.EXLTabsRibbon { /* this also applies to brief results display */
	border:none;
}

body.EXLFullView div.EXLTabContent {
	border:none;
}


body.EXLFullView div.EXLResultsList h1.EXLResultTitle {
	font-size: 1.5em;
  	line-height: 1.2em;
}

body.EXLFullView div.EXLResultsList h2.EXLResultAuthor {
	 font-weight: bold;
  	font-size: 1.2em;
  	line-height: 1.25em;
}

.EXLResultsList h3.EXLResultFourthLine {
	margin-top: 0.5em;
	line-height: 1.25em;
	font-size: 1em;
}

.EXLResultsList em.EXLResultStatusAvailable {
	margin-top:1.5em;
	margin-bottom:10px;
}

body.EXLFullView .EXLTabsRibbon div li.EXLResultTab {
	font-size:1.1em;
	padding-bottom:1.1rem;
}

body.EXLFullView div.EXLResultTabContainer {
	width:100%;
}



/* each metadata field in the details tab, both brief results and full record display */
.EXLDetailsTabContent div.EXLDetailsContent li {
	line-height: 1.4em;
  	overflow-x: auto;
  	overflow-y: auto;
  	clear: both;
  	border-top-width: 1px;
  	border-top-style: solid;
  	border-top-color: #dddddd;
  	padding: 5px ;
}

.EXLDetailsTabContent div.EXLDetailsContent li:nth-of-type(1){
	border-top:none;
}

.EXLDetailsTabContent div.EXLDetailsContent li strong {
	width: 25%;
  	font-weight: bold;
  	display: inline-block;
  	float: left;
	color: #345678;
}

/* hide the semi colons in subject and author fields, only full record display */
.EXLDetailsContent li#Subjects-1, .EXLDetailsContent li#Subjects1, .EXLDetailsTabContent div.EXLDetailsContent li#Author-1 {
	color:#fff;
}

/* only full record display */
.EXLDetailsTabContent div.EXLDetailsContent li#Subjects-1 strong, .EXLDetailsContent li#Subjects1 strong, .EXLDetailsTabContent div.EXLDetailsContent li#Author-1 strong {
	color: #345678;
}

/* link bubbles, only full record display */
.EXLDetailsContent li#Subjects-1 a, .EXLDetailsContent li#Subjects1 a, .EXLDetailsTabContent div.EXLDetailsContent li#Author-1 a, .EXLDetailsTabContent div.EXLDetailsContent li#Author1 a {
	display:inline-block;
	margin-bottom: 5px; 
	margin-right:5px;
	background: #eee; 
	padding: 5px; 
	-moz-border-radius: 1em; 
	border-radius: 1em; 
	font-size: .9em; 
	border: solid 1px #ddd; 
	color: #1c62a8;

}

.EXLDetailsContent li#Subjects-1 a:hover, .EXLDetailsTabContent div.EXLDetailsContent li#Author-1 a:hover {
	background: #444; 
	color: #fff;
	text-decoration:none;
}

.EXLDetailsContent li#Subject-1, .EXLDetailsContent li#Author-1:nth-child(2) {
	border-top:none;
}

.EXLDetailsContent li span.EXLDetailsDisplayVal, .EXLDetailsTabContent div.EXLDetailsContent ul li div.EXLLinkedFieldTitle, .EXLDetailsContent li#Author-1:nth-child(2) {
	margin-left:26%;
	display:block;
}

.floating_details {
	margin-left:26%;
}

/* Actions menu at the left */
body.EXLFullView .EXLTabHeader div.EXLTabHeaderButtons {
	position:absolute;
	left:5%;
	top:15px;
	width:90%;
}

body.EXLFullView .EXLTabHeader div.EXLTabHeaderButtons ul{
	clear:both;
	position:absolute;
	left:0;
	top:30px;
	width:100%;
	
}

body.EXLFullView .EXLTabHeader div.EXLTabHeaderButtons li.EXLTabHeaderButtonSendTo {
	background: #f5f5f5;
	padding:10px;
	border-bottom: none;
	clear:both;
        width:12%;
	border-right: none;
}

body.EXLFullView .EXLTabHeader div.EXLTabHeaderButtons li.EXLTabHeaderButtonSendTo > a {
  	font-size: 1.1em; 
  	padding-bottom: 3px;  
  	color: #888888; 
	font-weight:bold;
  	margin-bottom: .5em;
        border-bottom: solid 1px #ddd;
}

body.EXLFullView .EXLTabHeaderButtonSendTo > a > img {
	display:none;
}

body.EXLFullView .EXLTabHeader div.EXLTabHeaderButtons li.EXLTabHeaderButtonSendTo > a > span {
	display:none;
}



body.EXLFullView div.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList {
  	background: #f5f5f5; 
  	border-right: none;
  	border-left:none;
	left:-10px;
	top:13px;
	width:auto;
	display:block !important;

}


body.EXLFullView .EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li{
	border:none;
	border-right: none;
        background: #f5f5f5;
	padding:5px 11px 5px 10px;

}

body.EXLFullView .EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li:hover{
	background: #f5f5f5;
}

body.EXLFullView div.EXLTabHeaderButtons li:hover{
	background: #f5f5f5;
}

body.EXLFullView .EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li a:link {
	color: #1c62a8;
}

body.EXLFullView .EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li a:hover {
	cursor: pointer;
  	color: #3e98df;
}

/* actions pop-ups */

.EXLEmailPopup table, #exlidSaveCitationtile, .EXLPopupImportCitation {
	font-size:100% !important;
}

.EXLEmailPopup input.send_button, .EXLPopupImportCitationContainer div.EXLPopupImportCitationButtonLink span input, .EXLPopupImportCitationContainer div.EXLPopupImportCitationButtonCancel span input {
	background: #4072b2; 
	background: -webkit-linear-gradient(#5689cc, #3465a4) !important; 
	background: -moz-linear-gradient(#5689cc, #3465a4)!important;
	background: linear-gradient(#5689cc, #3465a4)!important;
	border:none!important;
}

.EXLSaveCitationHeader {
	border-bottom:1px solid #dddddd;
}

.EXLSaveCitationHeader h1 {
	color:#888888;
}

.EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationSetsHeader div.EXLSaveCitationListHeaderTitle, .EXLSaveCitationReultsAreaHeaderContainer div.EXLLaveCitationEditSetHeader, .EXLSaveCitationReultsAreaHeaderContainer div.EXLSaveCitationEditSetsHeader div.EXLSaveCitationEditSetHeaderContent {
	color:#883300;
}

#exlidSaveCitationtile div.EXLSaveCitationSets ul li a {
	color:#1c62a8;
}


body.EXLFullView .EXLDetailsTabContent div.EXLDetailsLinks {
	border:none;
	position:absolute;
	left:4.25%;
	top:360px;
	width:12.5%;
	 background: #f5f5f5;
}

body.EXLFullView .EXLDetailsTabContent div.EXLDetailsLinks em {
	font-size: 1.1em; 
  	padding-bottom: 3px;  
  	color: #ddd; 
	font-weight:bold;
  	margin-bottom: 5px;
        border-bottom: solid 1px #ddd;
}

body.EXLFullView .EXLDetailsTabContent div.EXLDetailsLinks ul {
	margin-top:15px;
}

.EXLDetailsTabContent div.EXLDetailsLinks li span a {
	padding-bottom:10px;
	line-height:1.2em;
}

body.EXLFullView .details_hidden {
	display:none;
}


body.EXLFullView div.EXLResultsHeader, body.EXLFullView div.EXLResultsFooter {
	width:50%;
	float:right;
	margin-right:5%;
}


/* pagination, prev and next links */
body.EXLFullView .EXLResultsHeader div.EXLResultsNavigation {
	font-size:100%;
	margin-top:10px;
	position:absolute;
	top:4em;
	right:5%;

}

body.EXLFullView .EXLResultsHeader div.EXLResultsNavigation span.EXLPrevious {
	padding-right:5px;
}

body.EXLFullView .EXLResultsHeader div.EXLResultsNavigation a.EXLNext {
	margin-left:5px;
}

body.EXLFullView .EXLResultsHeader div.EXLResultsNavigation a{
	background: #eee; 
	padding: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	font-size: .9em; 
	border: solid 1px #ddd; 
	color: #1c62a8;

}

body.EXLFullView .EXLResultsHeader div.EXLResultsNavigation a:hover {
	background: #444; 
	color: #fff;
	text-decoration:none;
}

body.EXLFullView .EXLResultsHeader div.EXLResultsNavigation a.EXLPrev img {
	margin-right:3px;
}

body.EXLFullView .EXLResultsHeader div.EXLResultsNavigation a.EXLNext img {
	margin-left:3px;
}

/* back to results list link */

body.EXLFullView div.EXLBackToResults {
	font-size:100%;
	position:absolute;
	clear:float;
	right:5%;
	top:1em;
	width:auto;
	
}

body.EXLFullView div.EXLBackToResults a{
	background: #eee; 
	padding: 10px; 
	-moz-border-radius: 1em; 
	border-radius: 1em;
	font-size: 1.1em; 
	color: #1c62a8;
	border-right: none;
	display:block;
	border: solid 1px #ddd; 
}


/* --------------------------------------------- footer ------------------------------------------------------- */

.EXLFooterTile {
	background: #eee; 
	padding: 16px 0 0; 
	clear: both; 
	overflow: hidden; 
	height: 130px; 
	font-size: 11px; 
	line-height: 2em; 
	border-top: solid 1px #ddd; 
	color: #bbb;
}

.EXLFooterTile div.EXLFooterLinksContainer {
	width: 90%;
  	min-width:960px;
	margin:auto;
	float:none;
}

.EXLFooterTile div.EXLFooterUpdateContainer {
	float:none;
	width:92%;
	margin:auto;
	max-width:960px;
        padding-left:40px;
}


/* ------------------------------------------ permalinnk ---------------------------------- */

.WWU_link {
	height: 16px !important;
	width: 16px !important;
}

.disable-select {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

#permalinkPretty {
        font-size: 11px;
        color: #bbb;
	font-weight:bold;
        padding:7px 0;
        background: #fff; 
}

#permalinkPretty div {
	 width: 90%;
	margin:auto;
}

.perma-link {
        display: inline-block;
	color:#1c62a8;
}

.permalinkPretty-displayPage {
        margin-bottom: 10px;
}

/* ---------------------------------------- my account ----------------------------------- */

.EXLMyAccountTabsRibbon div li.EXLMyAccountTab a {
	font-size:100%;
}

.EXLMyAccountTabsRibbon div li.EXLMyAccountSelectedTab {
	
}

.EXLMyAccountMainMenuContainer ol li {
	font-size:100%;
}

.EXLMyAccountMainContainer table {
	font-size:100%;
}


/* ----------------------------------------- media queries ------------------------------- */

@media screen and (max-width:1000px){ /* header breaks here */ 
  
        #exlidHeaderContainer {
		width:1000px;	
	}

	#exlidHeaderTile { 
		width:500px;

	}

	#exlidHeaderTile img {
		position:relative;
        	left:0;
        	margin-left:40px;
        	margin-top:50px;

	}

#exlidHeaderTile #libraryNames{
	position:relative;
        left:0;
        margin-left:40px;
	margin-top:0px;
}

#exlidUserAreaTile {
	width:500px;

}

#exlidMainMenuTile{
	width:500px;

}

#exlidMainMenuRibbon {
	position:relative;
	right:0;
	margin-right:40px;
}


#exlidUserAreaRibbon {
	position:relative;
	right:0;
	margin-right:60px;
	float:right;
}




#exlidMainMenuTile div.EXLMainMenuContainer {
	float:left;
	margin-top:25px;
}









     
} 




